<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= title %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/category">Category</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <%- include ../../partials/message.ejs %>
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"><%= title %></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/payment/update/<%= payment._id %>?_method=PUT" method="POST">
              <div class="card-body">
                <div class="form-group">
                  <label for="type">Tyoe</label>
                  <input type="text" class="form-control" id="type" name="type" value="<%= payment.type %>">
                </div>

                <div class="form-group">
                  <label for="bank">Bank</label>
                  <div class="select2-dark">
                    <select class="form-control select2" multiple="multiple" data-placeholder="bank" style="width: 100%;" name="banks" required>

                      <% banks.forEach(bank => { %>
                      <option value="<%= bank._id %>" <% payment.banks.forEach(bnk => { %> <% if (bank._id.toString() === bnk._id.toString()) { %>selected <% } %> <% }) %>> <%= bank.name %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>

              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>